# Data
numpy
pandas

# Visualisation
matplotlib
seaborn

# Machine Learning
scikit-learn
imbalanced-learn
lightgbm

# Interprétabilité
shap

# Tracking / MLOps
mlflow

# Notebooks
jupyter
ipykernel

# Tests / qualité
pytest
flake8

# Data Drift
evidently

# API / déploiement
fastapi
uvicorn

# Application web
streamlit